.sky{fill:#5EC7F5;}
.grass{fill:#4D944F;}
.road{fill:#4D4D4D;}
.dotted-line{fill:none;stroke:#FFFF00;stroke-width:25;stroke-miterlimit:10;stroke-dasharray:75,50,0,0,0,0;}
.body{fill:#0071BC;}
.rear-bumper{fill:#B3B3B3;}
.front-bumper{fill:#B3B3B3;}
.rear-rim{fill:#B3B3B3;}
.front-rim{fill:#B3B3B3;}
.rear-tire{fill:#1A1A1A;}
.front-tire{fill:#1A1A1A;}
.posts{fill:none;stroke:#4F3D1F;stroke-width:26;stroke-miterlimit:10;stroke-dasharray:26,102,0,0,0,0;}

.body {
  transition: fill 1s;
}

.body.is-red {
  fill: darkred;
}

.dotted-line {
	animation: passLine 0.22s linear infinite;
}
@keyframes passLine { 
	0% {transform:translateX(0%);} 
	100% {transform:translateX(-7.1%);}
}

.posts {
 animation: passPosts 0.4s linear infinite;
}
@keyframes passPosts { 
	0% {transform:translateX(0%);}
	100% {transform:translateX(-11.5%);} 
}

@keyframes spin {
	100% {transform:rotate(360deg);}
}

.wheel-blur {
	animation: spin linear 10s infinite;
	transform-origin: 50% 50% 0;
}

@keyframes passCloud {
	0% {transform:translateX(0%);}
	100% {transform:translateX(-400%);}
}

#cloud {
	animation: passCloud linear 60s infinite;
}




#car {
	transition: transform 2s;
	animation: bounce 1s infinite;
}
@keyframes bounce {}

#car.in-lane-2 {
	
	
	transform: scale(0.9);
	transform: translate(0%, -55%);
}