.body {
  transition: fill 1s;
}

.body.is-red {
  fill: darkred;
}

.dotted-line {
	animation: passLine 0.22s linear infinite;
}
@keyframes passLine { 
	0% {transform:translateX(0%);} 
	100% {transform:translateX(-7.1%);}
}

#gaurd-rail {
 animation: passPosts 0.2s linear infinite;
}
@keyframes passPosts { 
	0% {transform:translateX(0%);}
	100% {transform:translateX(-5.75%);} 
}

@keyframes spin {
	100% {transform:rotate(360deg);}
}

.wheel-blur {
	animation: spin linear 10s infinite;
	transform-origin: 50% 50% 0;
}

@keyframes passCloud {
	0% {transform:translateX(0%);}
	100% {transform:translateX(-400%);}
}

#cloud {
	animation: passCloud linear 60s infinite;
}

#car {
	transition: transform 2s;
	animation: bounce 1s infinite;
}
@keyframes bounce {}

#car.in-lane-2 {
	
	
	transform: scale(0.9);
	transform: translate(0%, -55%);
}

.sky{
	transition: fill 5s;
}

.sky.at-night {
	fill: #000;
}

#radio {
	z-index: 1;
	position: absolute;
	top: 20px;
	right: 20px;
}

@keyframes markerScan {
	0% {transform:translateX(0%);}
	50% {transform:translateX(1000%);}
	100% {transform:translateX(0%);}
}

#marker {
	animation: markerScan 3s;
}

#marker.scanning {
	animation: markerScan 3s;
}

@keyframes knobScan {
	0% {transform:rotate(0deg);}
	50% {transform:rotate(240deg);}
	100% {transform:rotate(0deg);}
}
.scan-knob {
	animation: knobScan 3s;
	transform-origin: 50% 50% 0;
}

.scan-knob.scanning {
	animation: knobScan 3s;
	transform-origin: 50% 50% 0;
}
















