.body {
  -webkit-transition: fill 1s;
  -o-transition: fill 1s;
  transition: fill 1s;
}

.body.is-red {
  fill: darkred;
}

.dotted-line {
	-webkit-animation: passLine 0.22s linear infinite;
	     -o-animation: passLine 0.22s linear infinite;
	        animation: passLine 0.22s linear infinite;
}
@-webkit-keyframes passLine { 
	0% {-webkit-transform:translateX(0%);transform:translateX(0%);} 
	100% {-webkit-transform:translateX(-7.1%);transform:translateX(-7.1%);}
}
@-o-keyframes passLine { 
	0% {-o-transform:translateX(0%);transform:translateX(0%);} 
	100% {-o-transform:translateX(-7.1%);transform:translateX(-7.1%);}
}
@keyframes passLine { 
	0% {-webkit-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%);} 
	100% {-webkit-transform:translateX(-7.1%);-o-transform:translateX(-7.1%);transform:translateX(-7.1%);}
}

#gaurd-rail {
 -webkit-animation: passPosts 0.2s linear infinite;
      -o-animation: passPosts 0.2s linear infinite;
         animation: passPosts 0.2s linear infinite;
}
@-webkit-keyframes passPosts { 
	0% {-webkit-transform:translateX(0%);transform:translateX(0%);}
	100% {-webkit-transform:translateX(-5.75%);transform:translateX(-5.75%);} 
}
@-o-keyframes passPosts { 
	0% {-o-transform:translateX(0%);transform:translateX(0%);}
	100% {-o-transform:translateX(-5.75%);transform:translateX(-5.75%);} 
}
@keyframes passPosts { 
	0% {-webkit-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%);}
	100% {-webkit-transform:translateX(-5.75%);-o-transform:translateX(-5.75%);transform:translateX(-5.75%);} 
}

@-webkit-keyframes spin {
	100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@-o-keyframes spin {
	100% {-o-transform:rotate(360deg);transform:rotate(360deg);}
}

@keyframes spin {
	100% {-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}

.wheel-blur {
	-webkit-animation: spin linear 10s infinite;
	     -o-animation: spin linear 10s infinite;
	        animation: spin linear 10s infinite;
	-webkit-transform-origin: 50% 50% 0;
	     -o-transform-origin: 50% 50% 0;
	        transform-origin: 50% 50% 0;
}

@-webkit-keyframes passCloud {
	0% {-webkit-transform:translateX(0%);transform:translateX(0%);}
	100% {-webkit-transform:translateX(-400%);transform:translateX(-400%);}
}

@-o-keyframes passCloud {
	0% {-o-transform:translateX(0%);transform:translateX(0%);}
	100% {-o-transform:translateX(-400%);transform:translateX(-400%);}
}

@keyframes passCloud {
	0% {-webkit-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%);}
	100% {-webkit-transform:translateX(-400%);-o-transform:translateX(-400%);transform:translateX(-400%);}
}

#cloud {
	-webkit-animation: passCloud linear 60s infinite;
	     -o-animation: passCloud linear 60s infinite;
	        animation: passCloud linear 60s infinite;
}

#car {
	-webkit-transition: -webkit-transform 2s;
	transition: -webkit-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
	transition: transform 2s, -webkit-transform 2s, -o-transform 2s;
}

#wagon {
	-webkit-animation: rock 0.2s infinite;
	     -o-animation: rock 0.2s infinite;
	        animation: rock 0.2s infinite;
	-webkit-transform-origin: 50% 50% 0;
	     -o-transform-origin: 50% 50% 0;
	        transform-origin: 50% 50% 0;
}

@keyframes rock {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(0.5deg);}
	100% {transform: rotate(0deg);}
}

.wheel1 {
	animation: bounce 0.2s infinite;
}

.wheel2 {
	animation: bounce 0.2s infinite;
}

@keyframes bounce {
	0% {transform: translateY(0%);};
	75% {transform: translateY(3px);}
	100% {transform: translateY(0%);};
}

#car.in-lane-2 {
	
	
	-webkit-transform: scale(0.9);
	
	
	     -o-transform: scale(0.9);
	
	
	        transform: scale(0.9);
	-webkit-transform: translate(0%, -55%);
	     -o-transform: translate(0%, -55%);
	        transform: translate(0%, -55%);
}

.sky{
	-webkit-transition: fill 5s;
	-o-transition: fill 5s;
	transition: fill 5s;
}

.sky.at-night {
	fill: #000;
}

#radio {
	z-index: 1;
	position: absolute;
	top: 20px;
	right: 20px;
}

@-webkit-keyframes markerScan {
	0% {-webkit-transform:translateX(0%);transform:translateX(0%);}
	50% {-webkit-transform:translateX(1000%);transform:translateX(1000%);}
	100% {-webkit-transform:translateX(0%);transform:translateX(0%);}
}

@-o-keyframes markerScan {
	0% {-o-transform:translateX(0%);transform:translateX(0%);}
	50% {-o-transform:translateX(1000%);transform:translateX(1000%);}
	100% {-o-transform:translateX(0%);transform:translateX(0%);}
}

@keyframes markerScan {
	0% {-webkit-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%);}
	50% {-webkit-transform:translateX(1000%);-o-transform:translateX(1000%);transform:translateX(1000%);}
	100% {-webkit-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%);}
}

#marker {
	-webkit-animation: markerScan 3s;
	     -o-animation: markerScan 3s;
	        animation: markerScan 3s;
}

#marker.scanning {
	-webkit-animation: markerScan 3s;
	     -o-animation: markerScan 3s;
	        animation: markerScan 3s;
}

@-webkit-keyframes knobScan {
	0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50% {-webkit-transform:rotate(240deg);transform:rotate(240deg);}
	100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}

@-o-keyframes knobScan {
	0% {-o-transform:rotate(0deg);transform:rotate(0deg);}
	50% {-o-transform:rotate(240deg);transform:rotate(240deg);}
	100% {-o-transform:rotate(0deg);transform:rotate(0deg);}
}

@keyframes knobScan {
	0% {-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
	50% {-webkit-transform:rotate(240deg);-o-transform:rotate(240deg);transform:rotate(240deg);}
	100% {-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
}
.scan-knob {
	-webkit-animation: knobScan 3s;
	     -o-animation: knobScan 3s;
	        animation: knobScan 3s;
	-webkit-transform-origin: 50% 50% 0;
	     -o-transform-origin: 50% 50% 0;
	        transform-origin: 50% 50% 0;
}

.scan-knob.scanning {
	-webkit-animation: knobScan 3s;
	     -o-animation: knobScan 3s;
	        animation: knobScan 3s;
	-webkit-transform-origin: 50% 50% 0;
	     -o-transform-origin: 50% 50% 0;
	        transform-origin: 50% 50% 0;
}